DATABASE_URL=host=localhost user=postgres password=postgres dbname=zhix port=5432 sslmode=disable TimeZone=Asia/Shanghai
JWT_SECRET=zhix-secret-key-2024
BACKEND_URL=http://localhost:8080

# Apple Pay配置
APPLE_MERCHANT_ID=merchant.com.zhix.club
APPLE_PAY_CERT_PATH=/path/to/merchant_id.pem
APPLE_PAY_KEY_PATH=/path/to/merchant_id.key
APPLE_PAY_PROCESSING_CERT_PATH=/path/to/apple-pay-cert.pem
